<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moderneng.eng"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:name=".WeShineApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        <activity
            android:name="com.moderneng.activities.Splash"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.moderneng.activities.mainmenu"
            android:configChanges="orientation|navigation|screenLayout"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.moderneng.activities.Intro"
            android:configChanges="orientation|navigation|screenLayout"
            android:screenOrientation="landscape" >
        </activity>
        <!-- <activity -->
        <!-- android:name="com.moderneng.activities.story" -->
        <!-- android:configChanges="orientation|navigation|screenLayout" -->
        <!-- android:screenOrientation="landscape" > -->
        <!-- </activity> -->
        <activity
            android:name="com.moderneng.activities.Videoplay"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.moderneng.activities.GameActivity"
            android:configChanges="orientation|navigation|screenLayout"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.moderneng.activities.Horizontalpager"
            android:screenOrientation="landscape" >
        </activity>
        <!-- <activity -->
        <!-- android:name="com.moderneng.activities.mazemenu" -->
        <!-- android:configChanges="orientation|navigation|screenLayout" -->
        <!-- android:screenOrientation="landscape" > -->
        <!-- </activity> -->
        <activity
            android:name="com.moderneng.activities.matchmenu"
            android:configChanges="orientation|navigation|screenLayout"
            android:noHistory="false"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.moderneng.activities.puzzlemenu"
            android:configChanges="orientation|navigation|screenLayout"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.moderneng.activities.match1"
            android:configChanges="orientation|navigation|screenLayout"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.moderneng.activities.match2"
            android:configChanges="orientation|navigation|screenLayout"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.moderneng.activities.match3"
            android:configChanges="orientation|navigation|screenLayout"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.moderneng.activities.match4"
            android:configChanges="orientation|navigation|screenLayout"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.moderneng.activities.match5"
            android:configChanges="orientation|navigation|screenLayout"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.moderneng.activities.puzzle1"
            android:configChanges="orientation|navigation|screenLayout"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.moderneng.activities.puzzle2"
            android:configChanges="orientation|navigation|screenLayout"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.moderneng.activities.puzzle3"
            android:configChanges="orientation|navigation|screenLayout"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.moderneng.activities.puzzle4"
            android:configChanges="orientation|navigation|screenLayout"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.moderneng.activities.puzzle5"
            android:configChanges="orientation|navigation|screenLayout"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.moderneng.activities.Mlevel2"
            android:configChanges="orientation|navigation|screenLayout"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.moderneng.activities.Mmain"
            android:configChanges="orientation|navigation|screenLayout"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.moderneng.activities.Level1"
            android:configChanges="orientation|navigation|screenLayout"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.moderneng.activities.Mlevel3"
            android:configChanges="orientation|navigation|screenLayout"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.moderneng.activities.GameMenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.moderneng.activities.MazeActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.moderneng.activities.SunCatcherActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.moderneng.activities.BalloonActivity"
            android:label="@string/title_activity_baloon"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.moderneng.activities.BalloonAnimationActivity"
            android:label="@string/title_activity_baloon_animation"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Transparent" >
        </activity>
    </application>

</manifest>
